@charset "UTF-8";

body{
	font-family:Helvetica, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
	background-color: #111111;
}

.clear{
	clear:both;
}

h1, h2, h3, h4{
	margin: 0px;
	text-align: center;
	text-transform:uppercase;
}

h2, #content h2 a, #content h2 a:visited {
	color: #EEE;
}

a,a:visited{
	text-decoration: none;
}

a img{
	border:none;
}

header #title a {
	color: #EEE;
}

#content a, #content a:visited, #menu a, #menu a:visited {
	color: black;
}

header {
	background-color: #000;
	border-bottom: 4px black solid;
}

header #title {
	line-height: 70px;
}

/* Menu */

#menu {
	background-color: #000;
	min-height: 100vh;
	width: 180px;
	border-left: 4px black solid;
	float: right;
	padding-bottom: 15px;
}

#menu ul {
	list-style:none;
	margin: 0px;
	padding: 0px;
}

#menu .place {
	border-bottom: 1px #aaa solid;
	margin: 7px;
	padding: 7px;
	width: 118px;
}

#menu .place:hover {
	background-color: #ddd;
	cursor: pointer;
}

#menu .place img {
	display: block;
	margin: auto;
}

/* End Menu */

#content {
	padding: 7px;
}

#content.content-menu {
	margin-right: 184px;
}

#foot {
	border-top: 1px #aaa solid;
	margin-top: 15px;
	text-align: right;
	padding: 7px;
	font-size: 12px;
}


/* HOME PAGE */
#content ul {
	list-style: none;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

#travels .travel {
	border: 1px black solid;
	padding: 0px;
	margin: 0px;
	float:left;
	text-align: center;
	position: relative;
	margin: 10px;
}

#travels .travel:hover {
	border: 1px #aaa solid;
}

#travels .travel img {
	padding: 0px;
	margin: 0px;
}

#travels .travel a span.travel-title {
	display: block;
	width: 100%;
	position: absolute;
}

#travels .travel a span.travel-title span {
	background-color: white;
	padding: 7px;
}

/* END HOME PAGE */

/* PLACES LIST */

#places .place {
	display: inline-block;
	margin: 7px;
	padding: 7px;
	width: 118px;
}

#places .place:hover {
	background-color: #ddd;
}

#places .place img {
	display: block;
}

.place a {
	position: relative;
	display: inline-block;
}

.place a span {
	position: absolute;
	bottom: 0;
	display: block;
	width: 118px;
	left: 0px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.5);
}

/* END PLACES LIST */

/* PICTURES PAGE */
#content .picture-wrapper {
	margin: 6px;
	cursor: pointer;
	width: 250px;
	height: 250px;
	display: inline-block;
}

#content .picture-wrapper > img {
	border: 1px white solid;
}

#content .picture-wrapper:hover > img {
	border: 1px #aaa solid;
}

#content .picture-wrapper .control {
	display: none;
	position: absolute;
	top: 0px;
	right: -2px;
	background-color: white;
	padding: 3px;
	opacity:0.5;
	filter:alpha(opacity:50);
}

#content .picture-wrapper .control:hover {
	opacity:1;
	filter:alpha(opacity:100);
}

#content .picture-wrapper:hover .control {
	display: block;
}
/* END PICTURES PAGE */

/* PICTURE PAGE */
.picture  {
	text-align: center;
}

.picture .wrapper {
	margin-top: 6px;
	position: relative;
	display: inline-block;
}

.picture img {
	max-width: 100%;
}

.picture .nav {
	position: absolute;
	top: 0px;
	width: 50%;
	height: 100%;
}

.picture .nav.previous {
	left: 0;
}

.picture .nav.next {
	left: 50%;
}

.picture .nav.previous:hover {
	background-image: url(../assets/left_arrow.png);
	background-position: left center;
	background-repeat: no-repeat;
}

.picture .nav.next:hover {
	background-image: url(../assets/right_arrow.png);
	background-position: right center;
	background-repeat: no-repeat;
}
/* END PICTURE PAGE */
