@charset "UTF-8";

body{
	font-family:Helvetica, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
}

.clear{
	clear:both;
}

h1, h2, h3, h4{
	margin: 0px;
	text-align:center;
	text-transform:uppercase;
}

a,a:visited{
	color: black;
}

ul a {
	text-decoration: none;
}

a img{
	border:none;
}

.msg{
	color:red;
}


header {
	background-color: #EEE;
	border-bottom: 4px black solid;
}

header #title {
	line-height: 70px;
	margin-right: 180px;
	border-right: 4px black solid;
}

header #controls {
	height: 70px;
	width: 180px;
	float: right;
	text-align: center;
}

header #controls a {
	display: inline-block;
	margin-top: 23px;
	padding: 0px 7px 0px 7px;
}

#menu {
	background-color: #EEE;
	min-height: 100vh;
	width: 180px;
	border-left: 4px black solid;
	float: right;
	padding-bottom: 15px;
}

#menu #places {
	list-style:none;
	margin: 0px;
	padding: 0px;
}

#menu #places .place {
	border-bottom: 1px #aaa solid;
	margin: 7px;
	padding: 7px;
}

#menu #places .place:hover {
	background-color: #ddd;
	cursor: pointer;
}

#menu #places .place img {
	display: block;
	margin:auto;
}

#content {
	margin-right: 184px;
	padding: 7px;
}

#foot {
	border-top: 1px #aaa solid;
	margin-top: 15px;
	text-align: right;
	padding: 7px;
	font-size: 12px;
}


/* HOME PAGE */
#content ul {
	list-style: none;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

#content #travels .travel {
	border: 1px white solid;
	padding: 0px;
	margin: 0px;
	float:left;
	width: 200px;
	height: 200px;
	text-align: center;
	position: relative;
	margin: 10px;
}

#content #travels .travel:hover {
	border: 1px #aaa solid;
}

#content #travels .travel img {
	padding: 0px;
	margin: 0px;
	float: left;
}

#content #travels .travel a {
	height: 20px;
}

#content #travels .travel a span.travel-title {
	display: block;
	width: 100%;
	position: absolute;
	top: 89px;
}

#content #travels .travel a span.travel-title span {
	background-color: white;
	padding: 7px;
}

/* END HOME PAGE */

/* PLACES LIST */

#places .place {
	display: block;
	float: left;
	margin: 13px;
	padding: 7px;
	width: 118px;
}

#places .place:hover {
	background-color: #ddd;
}

#places .place img {
	display: block;
}

#places .place a {
	text-decoration: none;
	position: relative;
}

#places .place a span {
	position: absolute;
	bottom: -128px;
	display: block;
	width: 118px;
	left: 0px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.5);
}

/* END PLACES LIST */

/* PICTURES PAGE */
#content .picture-wrapper {
	margin: 6px;
	cursor: pointer;
	width: 250px;
	height: 250px;
	float: left;
	text-align: center;
	position: relative;
}

#content .picture-wrapper > img {
	border: 1px white solid;
}

#content .picture-wrapper:hover > img {
	border: 1px #aaa solid;
}

#content .picture-wrapper .control {
	display: none;
	position: absolute;
	top: 0px;
	right: -2px;
	background-color: white;
	padding: 3px;
	opacity:0.5;
	filter:alpha(opacity:50);
}

#content .picture-wrapper .control:hover {
	opacity:1;
	filter:alpha(opacity:100);
}

#content .picture-wrapper:hover .control {
	display: block;
}
/* END PICTURES PAGE */

/* PICTURE PAGE */
.picture  {
	text-align: center;
}

.picture img {
	max-width: 100%;
}

.picture .nav li {
	display: inline-block;
	width: 49%;
	margin: 0;
	padding: 0;
}

.picture .nav li a {
	display: block;
}
/* END PICTURE PAGE */
