@media screen and (max-width: 459px) {
	#travels .travel {
	}

	#travels .travel a {
		display: flex;
		justify-content: center;
	}

	#travels .travel img {
		width: 25%;
		height: 25%;
	}

	#places {
		text-align: center;
	}
}

@media (max-width: 770px) {
	header #title {
		font-size: 4vw;
	}
}

@media screen and (min-width: 460px) {
	#travels .travel {
		width: 222px;
		height: 222px;
	}

	#travels .travel img {
		float: left;
	}
}

@media screen and (max-width: 722px) {
	#menu {
		display: none;
	}

	#content.content-menu {
		margin-right: 0;
	}

	#pictures {
		text-align: center;
	}

	.picture .nav.previous, .picture .nav.previous:hover {
		background-image: url(../assets/left_arrow_mini.png);
		background-position: left top;
		background-repeat: no-repeat;
	}

	.picture .nav.next, .picture .nav.next:hover {
		background-image: url(../assets/right_arrow_mini.png);
		background-position: right top;
		background-repeat: no-repeat;
	}
}
