<h2>
	<a href="{{backLinkTravel}}">{{title}}</a>
	<span ng-if="backLinkPlace"> - <a href="{{backLinkPlace}}">{{subtitle}}</a></span>
</h2>
<section class="picture">
	<ul class="nav">
		<li><a href="#/picture/{{travelId}}/{{place}}/{{prev}}">Prev</a></li>
		<li><a href="#/picture/{{travelId}}/{{place}}/{{next}}">Next</a></li>
	</ul>
	<img ng-src="images/1024x768x0/{{picture}}" alt="{{picture}}" />
</section>
