<h2><a href="{{backLink}}">{{title}}</a>{{subtitle}}</h2>
<ul id="pictures">
	<li class="picture-wrapper" ng-repeat="(index, picture) in pictures">
		<a href="#/picture/{{travelId}}/{{place}}/{{index}}">
			<img ng-src="images/250x250x1/{{picture}}" alt="{{picture}}" />
		</a>
	</li>
</ul>
