<!DOCTYPE html>
<html ng-app="travelsApp">
	<head>
		<meta charset="UTF-8" />
		<link href="styles/style.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="scripts/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
		<script type="text/javascript" src="scripts/travels.js"></script>
		<title>Pictures from here and there...</title>
	</head>
	<body>
		<header>
			<h1 id="title"><a href="#">Pictures from here and there...</a></h1>
		</header>
		<div id="menu" ng-controller="PlacesListMenuCtrl">
			<ul id="places">
				<li class="place" ng-repeat="place in menuPlaces | orderBy:orderProp">
					<a href="#/pictures/{{travelId}}/{{place.name}}">
					<img ng-src="images/118x133x1/{{place.preview}}" alt="{{place.preview}}" />
					<span class="place_name">{{place.name}}</span>
					</a>
				</li>
			</ul>
		</div>
		<div id="content">
			<ng-view></ng-view>
		</div>
		<br class="clear" />
		<footer>
		</footer>
	</body>
</html>

