{{template "header.html"}}
<div id="content">
	<ul id="travels">
		<li id="latest">
			<a href="/latest/index.html">
				<img src="images/100x100x1/latest/random.php" alt="Latest" />
				<span class="travel-title"><span>Latest</span></span>
			</a>
		</li>
		{{ range $travel := . }}
		<li class="travel">
			<a href="/travels/{{ $travel.Title}}">
				<img src="/images/100x100x1/{{ $travel.Title }}/random.php" alt="{{ $travel.Title }}" />
				<span class="travel-title"><span>{{ $travel.Title }}</span></span>
			</a>
		</li>
		{{ end }}
	</ul>
</div>
{{template "footer.html"}}
