{{template "header.html"}}
{{ if .Places }}
<div id="menu" ng-if="menuPlaces.length">
	<ul>
		{{ range $_, $placeName := .Places }}
		<li class="place">
			<a href="/travels/{{ $.Travel }}/{{ $placeName }}">
				<img src="/images/118x133x1/{{ $.Travel }}/{{ $placeName }}/random.php" alt="{{ $placeName }}" />
				<span class="place_name">{{ $placeName }}</span>
			</a>
		</li>
		{{ end }}
	</ul>
</div>
{{ end }}
<div id="content">
	<h2>
		<a href="/travels/{{ .Travel }}">{{ .Travel }}</a>
		{{ if .Place }}
			<a href="/travels/{{ .Travel }}/{{ .Place }}"> - {{ .Place }}</a>
		{{ end }}
	</h2>
	<section class="picture">
		<span class="wrapper">
			{{ if .Previous }}
			<a class="nav previous" href="{{ url "travels" .Travel .Place .Previous }}.html"></a>
			{{ end }}
			{{ if .Next }}
			<a class="nav next" href="{{ url "travels" .Travel .Place .Next }}.html"></a>
			{{ end }}
			<img src="/images/1024x768x0/{{ .Picture }}" alt="{{ .Picture }}" />
		</span>
	</section>
</div>
{{template "footer.html"}}
